:global
  .am-popup-mask
    position: absolute !important
  .am-activity-indicator-content
    flex-wrap: wrap
    span
      display: block
  /* toast 样式修改 */
  .am-toast-notice
    margin: 0 auto
  .am-toast.am-toast-mask .am-toast-notice
    max-width: 400px
  .am-toast-notice-content .am-toast-text
    word-wrap: break-word
