.like-area
  display: flex
  .num
    font-family: PingFangSC-Regular;
    font-size: 24px;
    letter-spacing: -0.15px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding-right: 12px;
    color: #999999;
  .icon
    width: 40px
    height: 40px
    display: inline-block
.clicked
  .num
    color: #E83C25;
  .icon
    background: url('@/imgs/ic_sq_z_h@2x.png') top center / 36px 36px no-repeat
.can-click
  .icon
    background: url('@/imgs/ic_sq_z_n@2x.png') top center / 36px 36px no-repeat
