.view
  padding: 20px
  background: #FFFFFF;
  border-radius: 1PX;
  border-top: 2px solid rgba(0, 0, 0, .1)
  display: flex
  .content
    background: #F5F5F5 url('@/imgs/ic_sq_import@2x.png') 20px center / 36px 36px no-repeat
    display: block
    height: 60px;
    line-height: 60px;
    padding-left: 72px;
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #999999;
    letter-spacing: -0.17px;
    flex: 1;
  .right
    .comment
      background: url('@/imgs/tab_ic_sq_discuss@2x.png') center / 60px 60px no-repeat
      width: 60px
      height: 60px
      position: relative
      margin-left: 50px
      margin-right: 46px
      float: left
      span
        background: url('@/imgs/bg_sq_count@2x.png') center / 52px 28px no-repeat
        width: 52px
        height: 28px
        display: inline-block
        text-align: center
        line-height: 28px
        position: absolute
        right: -32px
        top: -10px
        font-family: PingFangSC-Regular;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: -0.12px;
    .collect
      background: url('@/imgs/tab_ic_sq_collect_n@2x.png') center / 60px 60px no-repeat
      width: 60px
      height: 60px
      position: relative
      float: left
      margin-right: 32px
    .collected
      background: url('@/imgs/tab_ic_sq_collect_h@2x.png') center / 60px 60px no-repeat
      width: 60px
      height: 60px
      position: relative
      float: left
      margin-right: 32px
    .collect, .collected
      span
        background: url('@/imgs/bg_sq_count@2x.png') center / 52px 28px no-repeat
        width: 52px
        height: 28px
        display: inline-block
        text-align: center
        line-height: 28px
        position: absolute
        right: -32px
        top: -10px
        font-family: PingFangSC-Regular;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: -0.12px;
