.no-message, .no-collection, .no-comment
  .default-panel-main
    padding-top: 220px
    .default-icon
      background: url('@/imgs/ic_default_message@2x.png')  center center no-repeat
      width: 100%
      height: 284px
      background-size: contain
      display: block
    p
      font-size: 28px
      color: #999
      text-align: center
.no-collection
  .default-panel-main
     .default-icon
        background: url('@/imgs/ic_default_collect@2x.png')  center center no-repeat
        background-size: contain
.no-comment
  .default-panel-main
     .default-icon
        background: url('@/imgs/ic_default_discuss@2x.png')  center center no-repeat
        background-size: contain
.no-thread
  .default-panel-main
    padding-top: 220px
    .default-icon
      background: url('@/imgs/ic_default_article@2x.png')  center center no-repeat
      width: 100%
      height: 284px
      background-size: contain
      display: block
    p
      font-size: 28px
      color: #999
      text-align: center
.jump-page
  text-align: center
  font-size: 26px
  color: #10A6E2
  margin-top: 30px
  line-height: 26px
  icon
    background: url('@/imgs/ic_mine_task_next@2x.png')  center center no-repeat
    width: 18px
    height: 24px
    background-size: contain
    display: inline-block
    vertical-align: middle
    margin-left: 5px