.submit
  width: 88px
  height: 44px
  display: flex
  justify-content: center
  align-items: center
  span
    font-family: PingFangSC-Bold
    font-size: 28px
    color: #FFFFFF
    line-height: 28px
.disable
  width: 88px
  height: 44px
  display: flex
  justify-content: center
  align-items: center
  opacity: .5
  span
    font-family: PingFangSC-Regular
    font-size: 28px
    color: #FFFFFF
.edit-name
  margin-top: 20px
  input[type=text]
    background: #fff
    padding: 28px 34px
    font-size: 32px
    color: #222
    height: auto
.name-style
  margin-top: 20px
  font-size: 20px
  color: #999
  padding-left: 34px