.load-app
  position: absolute
  bottom: 0
  background: #fff
  width: 100%
  height: 132px
  z-index: 99999
  box-shadow: 0 -1px 10px 0 
  .app-logo
    width: 388px
    height: 132px
    position: absolute
    background: url('@/imgs/Rectangle Copy 19@2x.png') no-repeat center / 388px 132px
  .app-load
    width: 200px
    height: 132px
    position: absolute
    right: 32px
    background: url('@/imgs/bt_sq_share_n@2x.png') no-repeat center / 200px 132px
  .app-loads
    width: 200px
    height: 132px
    position: absolute
    right: 32px
    background: url('@/imgs/bt_sq_share_p@2x.png') no-repeat center / 200px 132px