:global
  .mui-icon
    font-size: 32px
  .mui-spinner
    width: 32px
    height: 32px
  .mui-pull-top-pocket
    height: 100px
    .mui-pull-caption
      font-size: 30px
      font-weight: normal
    .mui-pull
      bottom: 40px
  .mui-pull-bottom-pocket
    height: 100px
    .mui-pull-caption
      font-size: 30px
      font-weight: normal
    .mui-pull
      bottom: 40px
