.navbar, .navbar-none
  height: 90px
  background-image: linear-gradient(0deg, #006ADB 0%, #005CCC 99%)
  // background: -webkit-linear-gradient(top,#005ccc,#0083ff)
  display: flex
  .navbar-left
    flex: .5
    display: flex
    align-items: center
    padding-left: 30px
    .icon-go-back
      background: url('../imgs/navbar_back.png') 0 0/40px 40px no-repeat
      width: 40px
      height: 40px
  .navbar-title
    display: flex
    font-size: 32px
    color: #FFFFFF
    flex: 1
    justify-content: center
    align-items: center
    font-family: PingFangSC-Regular
  .navbar-right
    display: flex
    flex: .5
    padding-right: 30px
    align-items: center
    justify-content: flex-end
.navbar-none
  background: none