.view
  padding: 86px 0 136px
  display: flex
  justify-content: center
  flex-direction: column
  .img
    width: 100%
    background: url('@/imgs/pic_sq_discuss_qs@2x.png') center / 280px 210px no-repeat
    height: 210px
  .text
    margin-top: 42px
    text-align: center
    span
      font-family: PingFangSC-Light;
      font-size: 28px;
      color: #999999;
      letter-spacing: 0.6px;
