.view
  height: 342px
  background: #FFFFFF
  .header
    display: flex
    text-align: center
    height: 84px
    align-items: center
    padding: 40px 32px 0px
    .cancel
      flex: .5
      text-align: left
      span
        font-family: PingFangSC-Regular;
        font-size: 28px;
        color: #999999;
        letter-spacing: 2.15px;
    .title
      flex: 1
      span
        font-family: PingFangSC-Regular;
        font-size: 32px;
        color: #222222;
        letter-spacing: 2.46px;
    .publish
      flex: .5
      text-align: right
      span
        font-family: PingFangSC-Bold;
        font-size: 28px;
        color: #222222;
        letter-spacing: 2.15px;
    .disable
      span
        opacity: 0.5;
        font-family: PingFangSC-Regular;
        color: #999999;
  .content
      padding: 30px;
    textarea
      background-attachment: fixed;
      background-color: #fff;
      resize: none;
      outline: none;
      display: block;
      width: 100%;
      border: 0;
      margin: 0px;
      padding: 0px;
      font-family: PingFangSC-Regular;
      font-size: 32px;
      color: #222222;
      letter-spacing: -0.2px;
      line-height: 44px
      min-height: 200px;
      overflow-y: visible;
      border: none
      &::-webkit-input-placeholder
        color: #999999
