.view
  padding: 20px
  background: #FFFFFF;
  border-radius: 1PX;
  border-top: 2px solid rgba(0, 0, 0, .1)
  span
    background: #F5F5F5 url('@/imgs/ic_sq_import@2x.png') 20px center / 36px 36px no-repeat
    display: block
    height: 60px;
    line-height: 60px;
    padding-left: 72px;
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #999999;
    letter-spacing: -0.17px;
