.topic-box
  background: #FFFFFF
  padding: 0 32px 64px
  .title
    padding-top: 64px
    font-family: PingFangSC-Medium;
    font-size: 48px;
    color: #222222;
    letter-spacing: -0.3px;
    line-height: 66px;
  .topic-info
    margin-top: 32px
    display: flex
    .user-avatar
      img
        width: 72px
        height: 72px
        border-radius: 50%
    .topic-info-right
      margin-left: 16px
      .nickname
        font-family: PingFangSC-Regular;
        font-size: 28px;
        color: #222222;
        letter-spacing: -0.17px;
        line-height: 32px;
      .topic-info-right-second-fl
        margin-top: 8px
        .separated
          padding: 0 8px;
        span
          font-family: PingFangSC-Regular;
          font-size: 20px;
          color: #999999;
          letter-spacing: -0.12px;
          line-height: 24px;
  .content
    margin-top: 64px
    p
      font-family: PingFangSC-Regular;
      font-size: 32px;
      color: #222222;
      letter-spacing: -0.2px;
      line-height: 48px;
      white-space: pre-wrap;
      word-wrap: break-word;
      text-align: justify
    .video
      width: 90%
      height: 400px
      margin: 20px auto 0
    img
      width: 100%;
      -webkit-user-drag: initial;
      user-select: initial;
      -webkit-user-modify: initial;
  .love-area
    display: flex
    justify-content: center
    align-items: center
    margin-top: 64px
