.love
  width: 264px
  height: 88px
  border-radius: 100px
  display: flex
  justify-content: center
  align-items: center
  border: 1PX solid #E3E8EE
  span
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #999999;
    letter-spacing: -0.15px;
    line-height: 40px;
    display: inline-block
    height: 40px
    padding-left: 54px
.click
  span
    background: url('@/imgs/ic_sq_like_n@2x.png') center left/36px 36px no-repeat
.clicked
  span
    background: url('@/imgs/ic_sq_like_h@2x.png') center left/36px 36px no-repeat
    color: #E83C25
