.topic-container
  margin: 0 20px
  :global
    .am-tabs
      overflow-y: auto
    .topic-container-tabs-bar
      .am-tabs-bar
        box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.03)
        height: 80px
        border: none
        background-color: #FFFFFF
        margin-bottom: 8px
        .am-tabs-ink-bar
          bottom: 0
          background-image: linear-gradient(-135deg, #8769FF 0%, #008DFF 100%)
        .am-tabs-tab
          font-family: PingFangSC-Regular
          font-size: 26px
          color: #999999
          letter-spacing: -0.16px
          height: 80px
          line-height: 76px
          margin: 0 40px
          white-space: nowrap
          border: none
        .am-tabs-tab-active
          font-family: PingFangSC-Regular
          font-size: 26px
          color: #222222;
          letter-spacing: -0.16px
        .am-tabs-fixed
          position: fixed
          z-index: 9999999
.list-view
  position: relative
  display: inherit
  // min-height: 999px
