.person
  background: url('@/imgs/nav_ic_sq_mine@2x.png') 0 0/48px 48px no-repeat
  width: 48px
  height: 48px
  position: relative
.mark
  width: 16px;
  height: 16px;
  background: #FF4C2E;
  border-radius: 50%;
  margin-right: 20px
  position: absolute
  top: 0
  right: -30px